[Unit]
Description=Node Exporter
After=network.target

[Service]
User=node_exporter
Group=node_exporter
Type=simple
ExecStart=/usr/local/bin/node_exporter --collector.systemd --collector.processes --collector.buddyinfo --collector.textfile.directory="/textfile_collector_result"

[Install]
WantedBy=multi-user.target